
body {
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 3% 15%;
}

/* Sections */

.colored-section {
  background-color: #FFCC1D;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 3rem 5rem;
  margin-bottom: 2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #FFCC1D;
  color: #fff;
  text-align: center;
}

#title .container-fluid {
  padding: 3% 15% 7%;

}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-left: 50px;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Movies Section */

#movies {
  background-color: #E26A2C;
}

.btn-outline-dark{
  margin-right: 6px;
}

.BookNow
{
       background-color: #FE8F8F;
       padding: 8px 8px 8px 8px;
       font-weight: bold;
       border-radius: 9px;
}

.BookNow:hover
{
     background-color: #FCD2D1;
     color: black;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators{
    filter: invert(100%);
}

#download_buttons{
  margin-top: 30px;
}

#confirmpay{
  border-top: 10px;
}

.mv{
   display: list-item;
  }
